.post {
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid white;

  .post-title {
    font-size: 3em;
    margin: 0;
  }

  .post-description {
    font-size: 1.5em;
  }

  .post-written-by {
    font-size: 1em;
  }

  a {
    background-color: white;
    color: #a53ac9;
    padding: 16px 24px;
    text-decoration: none;
    margin-top: 16px;
    display: inline-block;
  }
}